<article class="post <%= current_article.tags.sort.join(' ') %> ">
   <%= partial "post_head", locals: {current_article: current_article, index: defined?(index)} %>
   <div class="post-body">
      <% case %>
         <% when defined?(index).nil? || !current_article.data.truncatable %>
            <%= current_article.body %>
         <% else %>
            <%= current_article.summary %>
            <% if current_article.body != current_article.summary %>
               <%= link_to 'Read more…', current_article %>
            <% end %>
      <% end %>
   </div>
</article>
