<article class="post <%= current_article.tags.sort.join(' ') %> ">
   <% if defined?(index).nil? %>
      <%= partial "post_head", locals: {current_article: current_article} %>
      <div class="post-body">
         <%= current_article.body %>
      </div>
   <% else %>
      <%= partial "post_head", locals: {current_article: current_article, index: index} %>
      <div class="post-body">
         <% if !current_article.data.truncatable %>
            <%= current_article.summary %>
            <% if current_article.body != current_article.summary %>
               <%= link_to 'Read more…', current_article %>
            <% end %>
         <% else %>
            <%= current_article.body %>
         <% end %>
      </div>
   <% end %>
</article>
