<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {{> head/meta/opengraph/meta-header }}
  {{> head/meta/schema/meta-header }}
  {{> head/meta/twitter/meta-header }}
 <meta property="article:author" content="{{ site.title }}" />
 <meta name="twitter:creator" content="{{ site.twitter }}" />
 <link rel="author" href="/humans.txt" type="text/plain" />
 {{~#if title~}}
  <title>{{title}} | {{ site.title }}</title>
{{~else~}}
  <title>{{ site.title }}</title>
{{~/if~}}
 <link rel="canonical" href="{{ path.href }}" />
 <link rel="stylesheet" href="/nullog.css">
